.description
  %p{ :class => "header" } Наши услуги
  %div{ :class => "inner row" }
    %div{ :class => "col" }
      %p{ :class => "title" } Веб-приложения
      %p{ :class => "info" } Создаём единые платформы для целей планирования, отчётности, осуществления коммерческой деятельности, управления коммуникациями и постановки задач

    %div{ :class => "col" }
      %p{ :class => "title" } Мобильные приложения
      %p{ :class => "info" } Создаем приложения для эффективного решения задач продаж, сервиса и маркетинга. Внедряем механики геймификации для быстрой проверки гипотез и альтернативного решения задач бизнеса

    %div{ :class => "col" }
      %p{ :class => "title" } Телеграм боты
      %p{ :class => "info" } Чат бот с подключением к API. Большой чат бот с разделами FAQ. Брендированный чат бот со стилизацией под клиента
