%div
  .price

    %table{"data-table-width" => "70%;30%", :width => "100%"}
      %thead
        %tr
          %th{ :class => "thtitle", :width => "70%"} Услуга
          %th{ :class => "thtitle", :width => "30%"} Цена
      %tbody
        %tr{ :class => "oddrow" }
          %td{:width => "70%"} Адаптация сайта к SEO
          %td{:width => "30%"} От 1 500 000 рублей (в зависимости от работы, необходимо уточнять)
        %tr{ :class => "evenrow" }
          %td{:width => "70%"} Разработка сайта
          %td{:width => "30%"} От 800 000 рублей (в зависимости от работы, необходимо уточнять) + дополнительно оплачивается услуги дизайнера, цена зависит от кол-ва работы
        %tr{ :class => "oddrow" }
          %td{:width => "70%"} Консалтинговые услуги в сфере информационных технологий
          %td{:width => "30%"} От 500 000 рублей (в зависимости от работы, необходимо уточнять)
        %tr{ :class => "evenrow" }
          %td{:width => "70%"} CRM система для управления клиентами
          %td{:width => "30%"} От 2 500 000 рублей (в зависимости от работы, необходимо уточнять).
        %tr{ :class => "oddrow" }
          %td{:width => "70%"} Создание Телеграм-бота
          %td{:width => "30%"} От 300 000 рублей (в зависимости от работы, необходимо уточнять).
        %tr{ :class => "evenrow" }
          %td{:width => "70%"} Система приема заявок через интернет
          %td{:width => "30%"} От 1 000 000 рублей (в зависимости от работы, необходимо уточнять).
        %tr{ :class => "oddrow" }
          %td{:width => "70%"} Разрабатываем и внедряем программное обеспечение различного уровня сложности, создаем интернет-сервисы и интернет-системы
          %td{:width => "30%"} От 1 000 000 рублей (в зависимости от работы, необходимо уточнять).
        %tr{ :class => "evenrow" }
          %td{:width => "70%"} Внедрение воронки продаж в CRM систему
          %td{:width => "30%"} От 1 500 000 рублей (в зависимости от работы, необходимо уточнять).
        %tr{ :class => "oddrow" }
          %td{:width => "70%"} Адаптация сайта для мобильных приложений
          %td{:width => "30%"} От 1 900 000 рублей (в зависимости от работы, необходимо уточнять).
        %tr{ :class => "evenrow" }
          %td{:width => "70%"} Мобильное приложение для приема заказов. Интернет-магазин
          %td{:width => "30%"} От 2 000 000 рублей (в зависимости от работы, необходимо уточнять) + дополнительно оплачивается услуги дизайнера, цена зависит от кол-ва работы.
        %tr{ :class => "oddrow" }
          %td{:width => "70%"} Интеграционные решения
          %td{:width => "30%"} От 500 000 рублей (в зависимости от работы, необходимо уточнять)
