:css
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

  header {
    padding: 16px;
    color: #ffffff;
    background-color: #000000;
  }

  table {
    border-collapse: collapse;
  }

  td, th {
    padding: 20px;
  }

  .logo {
    font-size: 24px;
    font-weight: 400;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .col {
    flex: 1 0 0;
  }

  .technologies {
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    background-image: url("/public/development-js.jpg");
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
  }

  .technologies .inner {
    max-width: 960px;
    margin: auto;
  }

  .technologies .title {
    font-size: 48px;
    line-height: 1.23;
    padding: 24px 0 24px 0;
    letter-spacing: 1px;
    font-weight: 600;
  }

  .technologies .subtitle {
    font-size: 22px;
    line-height: 1.55;
    padding: 15px 0 30px 0;
  }

  .development {
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    background-image: url("/public/development-1.jpg");
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
  }

  .development .inner {
    max-width: 960px;
    margin: auto;
  }

  .development .title {
    font-size: 72px;
    line-height: 1.17;
    padding: 24px 0 24px 0;
    letter-spacing: 1px;
    font-weight: 600;
  }

  .development .subtitle {
    font-size: 22px;
    line-height: 1.55;
    padding: 15px 0 30px 0;
  }

  .development p {
    color: #ffffff;
    margin: 0;
  }

  .technologies p {
    color: #ffffff;
    margin: 0;
  }

  .description {
    text-align: center;
    vertical-align: middle;

    padding-top: 150px;
    padding-bottom: 180px;
    background-color: #f5f5f5;
  }

  .description .inner {
    max-width: 1200px;
    margin: auto;
  }

  .description .header {
    font-size: 42px;
    line-height: 1.23;
    font-weight: 600;
    margin-bottom: 105px;
  }

  .description .title {
    font-size: 24px;
    line-height: 1.35;
    font-weight: 600;
    margin: 0;
  }

  .description .info {
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
  }

  .price {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-top: 90px;
    padding-bottom: 120px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .thtitle {
    border-width: 0 0 1px 0;
    border-color: #000000;
  }

  .oddrow {
    border-right: 1px solid #ffffff;
    background-color: #ffffff;
  }

  .evenrow {
    background-color: #eeeeee;
  }

  .contacts {
    padding: 100px;
    text-align: center;
    vertical-align: middle;
    display: flex;
  }

  .contacts .inner {
    max-width: 1200px;
    margin: auto;
  }

  .contacts .title {
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 1.35;
    font-weight: 600;
  }

  .contacts .phone {
    font-size: 36px;
    line-height: 1.23;
    font-weight: 600;
    margin: 0;
  }

  .contacts .email {
    font-size: 36px;
    line-height: 1.23;
    font-weight: 600;
    margin: 0;
  }

  .contacts .name {
    margin-top: 45px;
    font-size: 18px;
    line-height: 1.55;
    margin-bottom: 0;
  }

  .contacts .inn {
    font-size: 18px;
    line-height: 1.55;
    margin-bottom: 0;
  }

  .contacts .ogrn {
    font-size: 18px;
    line-height: 1.55;
  }

  .btn {
    background-color: #c72525;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-decoration: none;
    height: 60px;
    border: 0 none;
    font-size: 16px;
    padding: 16px 40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 700;
    background-image: none;
    cursor: pointer;
    color: #ffffff;
    display: inline;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


  @media(max-width: 576px) {
      .development {
        padding: 0 36px;
      }

      .development .title {
        font-size: 36px;
      }

      .row {
        flex-direction: column;
      }

      .description .header {
          font-size: 24px;
        }

      .description {
        padding: 64px 36px;
      }

      .technologies {
        padding: 0 36px;
      }

      .technologies .title {
        font-size: 36px;
      }

      .price {
        padding: 64px 36px;
      }

      .contacts {
        padding: 150px 36px;
      }
    }
