.contacts{ :id => "contacts" }
  .inner
    %p{ :class => "title" } Контакты
    %p{ :class => "phone" } +7 903 465 30 37
    %p{ :class => "email" } 9techrus@gmail.com
    %p{ :class => "name" } ООО «9ТЕХ РУС»
    %p{ :class => "inn" } ИНН/КПП: 9729312325/ 772901001
    %p{ :class => "ogrn" } ОГРН: 1217700384131
    %a{ :href => "https://disk.yandex.ru/i/P6lAB_gKvv0WxA", :target => "_blank" } Публичный договор оферты
