.development
  .inner
    %p{ :class => "title" } Профессиональная разработка
    %p{ :class => "subtitle" } Создаем веб-сервисы, мобильные и десктоп приложения, телеграм-боты
    %a{ :class => "btn", :href => "#contacts" }
      %span Свяжитесь с нами

