.technologies
  .inner
    %p{ :class => "title" } Современные технологии для современных приложений
    %p{ :class => "subtitle" } JavaScript, Java, Kotlin, Python, React Native, .NET и многие другие
    %a{ :class => "btn", :href => "#contacts" }
      %span Свяжитесь с нами
